{% extends "partials/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}

{% block header %}
    {% include "partials/header.html" %}
    {{content}}
{% endblock header %}
    
{% block breakingnews %}
    {% include "partials/breakingnews.html" %}
{% endblock breakingnews %}
 

{% block allnews %}

<div class="container">
    <div class="col-md-6 text-center" style="margin-left: 25%;">
        <p>You are logged out successfully.<a href="{% url 'login' %}">Login Again?</a></p>
        <p>Back to <a href="{% url 'index' %}">Home</a></p>
    </div>
</div>
{% endblock allnews %}

{% block topnews %}
    {% include "partials/topnews.html" %}
{% endblock topnews %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock footer %}

{% block scripts %}
    {% include "partials/scripts.html" %}
{% endblock scripts %}
